h1 {
	color:#f3f3f3;
	}

.margin-small {
	margin:30px;
  padding:40px;
}


.img-logo {
  margin:auto;
  padding:auto;

}

.colors {
      background-color: #555;
      
}

.bg-white-logo {
      background-color: #f3f3f3;
      color:#555;

}

.bg-dark-logo {
    background-color: #333333;
      color:#f3f3f3;
}
