h1 {
	color:#f3f3f3;
	}

.margin-small {
	margin-top:30px;
	margin-bottom: 30px;
}


.img-logo {
  margin-top: 150px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 50px;
  padding-right: 100px;
  padding-left: 100px;

}

.colors {
      background-color: #555;


}

.bg-white-logo {
      background-color: #f3f3f3;
      color:#555;

}

.bg-dark-logo {
      background-color: #555;
      color:#f3f3f3;

}